.wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

.form {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  gap: 1.5rem;
  background-color: var(--blue200);
  width: 100%;
  max-width: var(--appWidth);
  border-radius: var(--borderRadius1);
}

.form h1 {
  color: white;
}

.form p {
  text-align: center;
  color: white;
}

.link{
  color: white;
  text-decoration: none;
  transition: var(--transition);
  border-bottom: 1.5px solid transparent;
}

.link:hover{
  border-bottom: 1.5px solid white;
}
